* {
    box-sizing: border-box;
    margin: 0;
}

.france1 {
    background-color: blue;
    position: absolute;
    height: 200px;
    width: 10%;
    color: blue;
    border: 0.5px solid black;
}

.france2 {
    background-color: white;
    position: absolute;
    height: 200px;
    width: 10%;
    color: white;
    left: 120px;
    border: 0.5px solid black;
}

.france3 {
    background-color: red;
    position: absolute;
    text-align: center;
    height: 200px;
    width: 10%;
    color: red;
    left: 240px;
    border: 0.5px solid black;
}

.ger1 {
    position: absolute;
    background-color: black;
    height: 70px;
    width: 29%;
    top: 250px;
}

.ger2 {
    position: absolute;
    background-color: red;
    height: 70px;
    width: 29%;
    top: 320px;
    color: red;
}

.ger3 {
    position: absolute;
    background-color: yellow;
    height: 70px;
    width: 29%;
    top: 380px;
    color: yellow;
}

.mad1 {
    position: absolute;
    background-color: orangered;
    height: 100px;
    width: 29%;
    top: 0px;
    left: 440px;
    color: orangered;
}

.mad2 {
    position: absolute;
    background-color: darkgreen;
    height: 100px;
    width: 29%;
    top: 100px;
    left: 440px;
    color: darkgreen;
}

.swiz1 {
    position: absolute;
    background-color: red;
    height: 200px;
    width: 29%;
    top: 250px;
    left: 440px;
}

.swiz2 {
    position: absolute;
    background-color: white;
    height: 67px;
    width: 20%;
    top: 310px;
    left: 495px;
}

.swiz3 {
    position: absolute;
    background-color: white;
    height: 150px;
    width: 7%;
    top: 275px;
    left: 578px;
}

.swed1 {
    position: absolute;
    background-color: #6598ff;
    height: 200px;
    width: 29%;
    top: 510px;
    left: 0px;
}

.swed2 {
    position: absolute;
    background-color: yellow;
    height: 200px;
    width: 3%;
    top: 510px;
    left: 90px;
}

.swed3 {
    position: absolute;
    background-color: yellow;
    height: 30px;
    width: 29%;
    top: 590px;
}

.gam1 {
    position: absolute;
    background-color: darkred;
    height: 60px;
    width: 29%;
    top: 510px;
    left: 440px;
}

.gam2 {
    position: absolute;
    background-color: blue;
    height: 60px;
    width: 29%;
    top: 580px;
    left: 440px;
}

.gam3 {
    position: absolute;
    background-color: green;
    height: 60px;
    width: 29%;
    top: 650px;
    left: 440px; 
}

.t1 {
    position: absolute;
    background-color: red;
    height: 200px;
    width: 29%;
    left: 880px;
}

.t2 {
    position: absolute;
    background-color: white;
    height: 90px;
    width: 8%;
    left: 880px;
    border: 1px solid black;
}

.t3 {
    position: absolute;
    background-color: red;
    height: 60px;
    width: 1.5%;
    left: 920px;
    top: 15px;
}

.t4 {
    position: absolute;
    background-color: red;
    height: 15px;
    width: 5.5%;
    left: 894px;
    top: 37px;
}

.jpone {
    position: absolute;
    background-color: white;
    height: 200px;
    top: 250px;
    left: 880px;
    width: 29%;
    border: 1px solid black;
}

.jptwo {
    position: absolute;
    background-color: red;
    height: 110px;
    top: 295px;
    left: 1005px;
    width: 8.5%;
    border-radius: 200px;
}

.g1 {
    position: absolute;
    background-color: blue;
    height: 30px;
    top: 510px;
    left: 880px;
    width: 29%;
}

.g2 {
    position: absolute;
    background-color: blue;
    height: 30px;
    top: 553px;
    left: 880px;
    width: 29%;
}

.g3 {
    position: absolute;
    background-color: blue;
    height: 30px;
    top: 595px;
    left: 880px;
    width: 29%;
}

.g4 {
    position: absolute;
    background-color: blue;
    height: 30px;
    top: 638px;
    left: 880px;
    width: 29%;
}

.g5 {
    position: absolute;
    background-color: blue;
    height: 30px;
    top: 680px;
    left: 880px;
    width: 29%;
}

.g6 {
    position: absolute;
    background-color: blue;
    height: 80px;
    top: 520px;
    right: 272px;
    width: 10%;
}

.g7 {
    position: absolute;
    background-color: white;
    height: 120px;
    top: 510px;
    right: 325px;
    width: 2%;
}

.g8 {
    position: absolute;
    background-color: white;
    height: 29.5px;
    top: 553px;
    right: 272px;
    width: 10%;
}

.n1 {
    position: absolute;
    background-color: orangered;
    height: 70px;
    top: 760px;
    width: 29%;
}

.n2 {
    position: absolute;
    background-color: green;
    height: 70px;
    top: 890px;
    width: 29%;
}

.n3 {
    position: absolute;
    background-color: orangered;
    height: 55px;
    top: 833px;
    width: 4%;
    border-radius: 50%;
    left: 165px;
}

.m1 {
    position: absolute;
    background-color: red;
    height: 200px;
    top: 760px;
    width: 29%;
    left: 440px;
}

.m2 {
    position: absolute;
    background-color: darkgreen;
    height: 100px;
    top: 815px;
    width: 18%;
    left: 505px;
}

.m3 {
    position: absolute;
    background-color: white;
    height: 60px;
    width: 4%;
    top: 835px;
    left: 600px;
    border-radius: 100%;
}

.m4 {
    position: absolute;
    background-color: darkgreen;
    height: 55px;
    width: 4%;
    top: 837px;
    left: 610px;
    border-radius: 100%;
}