* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: LucidaGrande;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: #323643;
}

a {
    text-decoration: none;
    color: #40f2ff;
    letter-spacing: 3px;
    font-size: 24px;
}

@media (max-width: 620px) {
    a {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    a {
        font-size: 12px;
    }
}